class Cliente:
    def __init__(self,nome, saldo):
        self.nome = nome
        self.saldo = saldo
        print(f'O cliente {self.nome} tem um saldo de R$ {self.saldo:.2f}')

    def Depositar(self,num):
        self.saldo += num
        print(f'O cliente {self.nome} teve o Valor Depositado de R$ {num:.2f}, novo saldo R$ {self.saldo:.2f}.')

    def Sacar(self, num):
        if self.saldo >= num:
            self.saldo -= num
            print(f'Valor sacado R$ {num:.2f} de {self.nome}, novo saldo R$ {self.saldo:.2f}.')
        else:
            print('O valor a ser sacado é maior do que o saldo atual, transação nao efetuada')

    def Transferencia(self,num,cliente1):
        if self.saldo >= num:
            self.saldo-= num
            cliente1.saldo += num
            print(f'Valor transferido R$ {num:.2f} de {self.nome} para {cliente1.nome}.')
        else:
            cliente1.saldo +=0
            print(f'Valor a ser transferido de {self.nome} é maior do que ele possui de saldo, falha ao transferir!')

Giovanni = Cliente('Giovanni',200)
Caroline = Cliente('Caroline',300)
#Nataly = Cliente('Nataly',400)


Giovanni.Transferencia(300,Caroline)

print(f'novo saldo de Giovanni R$ {Giovanni.saldo:.2f}')
print(f'novo saldo de Caroline R$ {Caroline.saldo:.2f}')
#print(f'novo saldo de Nataly R$ {Nataly.saldo:.2f}')
